@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-alpino: "Alpino", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Fonts */
  --font-sans: var(--font-alpino);
  --font-mono: var(--font-geist-mono);

  /* Animations */
  @keyframes slide-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  --animate-slide-left: slide-left 3s linear infinite;
  --animate-spin-slow: spin 6s linear infinite;
}
